extends layout

block content

	.posts
		for post in posts
			.post--container
				.post!= markdown(post.body)
					p
						- const timeStamp = (post.created)
						=timeStamp.toLocaleString('en-us')
				.delete
					form(action=`/delete/${post._id}` method='POST')
						button.delete--button(type='submit') X

	.add-post--container
		form.add-post(action='/addpost' method='POST')
			label(for='postBody') Add Post
			textarea(name='postBody')
			input(type='submit' value='Add Post')
