doctype html
html
  head
    title='Murphy Blog'
    link(rel='stylesheet' href='../public/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    	


