doctype html
html
  head
    title='Murphy Blog'
    link(rel='stylesheet', href='./style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    	

    block scripts
      script(src="../app.js")
