@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Spectral')
@import url('http://fonts.googleapis.com/css?family=Arizonia')

black = #111111
red = #FF4136
border-color = #BADA55
background-color = #faf9dd

:root
	font-size 20px

*
	box-sizing border-box

html
	width 100vw
	height 100vh

body
	margin 0
	padding 0
	height 100vh
	width 100vw
	display grid
	grid 150px auto 30px / 50px auto 50px
	grid-auto-flow: row
	justify-items center
	box-sizing border-box
	font-family 'Spectral', sans-serif
	letter-spacing 2px
	line-height 1.5
	background background-color
	color black

header
	padding 50px 10px
	align-self: center
	white-space nowrap
	font-size 2.5rem
	font-family Arizonia
	grid-column 1 / -1
	grid-row 1 / span 1

.container
	grid-row: 2/span 1
	grid-column: 1 / -1

.main-content
	height: 100%
	width 100vw
	display grid
	grid-template-rows: 1fr auto

.posts
	display grid
	grid-template-rows: repeat(auto-fill, minmax(min-content, auto))
	& > :nth-child(even)
		background background-color
		color black
	& > :nth-child(odd)
		background black
		color white
		clip-path polygon(0 15%, 100% 0, 100% 100%, 0 85%)

.post--container
	display grid
	grid-template-columns: 11fr 1fr
	padding 60px 30px 60px 30px

.post
	font-size 1rem

.post p:last-of-type
	font-size .5rem

.delete
	justify-self center
	align-self center

.delete--button
	cursor pointer
	border-radius 5px
	border none
	background red
	color #C0ffee
	position relative
	&:active
		top 2px
		opacity .8
		outline none

.add-post--container
	padding 50px
	width: 100%
	grid-row 2 / span 1
	justify-self: center
	align-self: end

.add-post
	display grid
	grid-gap 10px
	grid-template-rows 40px auto 40px
	text-align center

.add-post textarea
	height 100px
	border-radius 5px
	font-family Spectral
	font-size 1rem

.add-post input[type='submit']
	background white
	border-radius 5px
	&:active
		outline none
		opacity .9

.footer
	width 100vw
	height 40px
	background: black
	border-top 3px solid border-color
	color #C0ffee
	bottom: 0px
	display grid
	grid-row 3/ span 1
	grid-column 1/-1
	justify-content: center
	align-items center
	text-align center
	font-size .75rem
	letter-spacing: 2px

@media only screen and (max-width: 800px)
	:root
		font-size 16px


@media only screen and (max-width: 600px)
	:root
		font-size 14px

	header
		font-size 1.8rem