@import 'nib'

global-reset()

main-color = #fa5b4d
background-color = #faf9f0

:root
	font-size 18px

body
	font-family 'Georgia'
	background-color background-color
	color #444

header
	padding 50px 10px
	color #eee
	font-size 1.5rem
	text-align center

.post
	font-size: 2rem;

h1
	font-size: 70px;
	background-color: red;
